.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
.color {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.color-pallete {
    align-items: center;
    display: flex;
    gap: 10px;
    width: auto;
    justify-content: center;
}